.image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.image-invisible {
    height: 700px;
    box-shadow: 0px 0px 10px var(--dark-accent);
}

.image-background .image {
    width: 100%;
    min-height: 700px;
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}

.overlay-background {
    background-color: var(--dark-accent);
    position: absolute;
    top: 0;
    z-index: 2;
    width: 43%;
    height: 100%;
    opacity: 0.85;
    display: flex;
    justify-content: end;
    align-items: center;
    /*border-right: 7px solid var(--active-accent);*/
}

.overlay-info {
    padding-right: 40px;
    line-height: 1;
    color: #fff;
    width: 53.5%;
}

.overlay-info h1 {
    font-size: 45px;
    font-weight: 200;
}

.overlay-info h4 {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 300;
}

.slide-up {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

/*our projects*/
.our-project {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.our-project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 30px;
}

.project-item {
    background-color: var(--main-color);
    color: var(--dark-accent);
    border-radius: 5px;
}

.project-image {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    box-shadow: 0 5px 10px -6px var(--dark-accent);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.project-info {
    padding: 30px 20px;
    display: grid;
    gap: 20px;
}

.project-info h1 {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.project-info p {
    text-align: center;
}

/*about us block*/

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.about-us-info {
    padding: 100px 0;
    display: grid;
    gap: 70px;
    color: var(--dark-accent);
}

.about-us-info h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.about-us-info p {
    font-size: 20px;
    text-align: justify;
}

/*contact us*/
.contact-us {
    position: relative;
}

.contact-image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-image-invisible {
    height: 700px;
    z-index: 2;
    background-color: var(--dark-accent);
    position: relative;
    opacity: 0.9;
}

.contact-image-background .contact-image {
    width: 100%;
    min-height: 700px;
    background-image: url("images/background2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}

.contact-overlay-background {
    background-color: var(--dark-accent);
    position: absolute;
    top: 0;
    z-index: 2;
    width: 43%;
    height: 100%;
    opacity: 0.7;
    display: flex;
    justify-content: end;
    align-items: center;
    /*border-right: 7px solid var(--active-accent);*/
}

.contact-overlay-info {
    padding-right: 40px;
    line-height: 1;
    color: #fff;
    width: 53.5%;
}

.contact-overlay-info h1 {
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
}

.how-to-contact {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}

.how-to-contact-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4vw;
    height: 80%;
    width: 100%;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
}

.how-to-contact-group h3 {
    font-size: 21px;
    margin-bottom: 10px;
}

.how-to-contact-item {
    display: flex;
    gap: 15px;
}

.how-to-contact-item i {
    margin-top: 3px;
}

.how-to-contact span {
    display: flex;
    gap: 5px;
    font-size: 20px;
}

/*aside image*/

.aside-image-background {
    width: 100%;
    min-height: 700px;
    background-image: url("images/aside-image.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/

footer {
    display: flex;
    gap: 10px;
    padding: 30px 0;
    text-align: center;
    justify-content: space-between;
    font-size: 18px;
    margin: 0 auto;
    color: var(--dark-accent);

}

.naming {
    text-align: left;
}

footer div {
    display: flex;
}

@media only screen and (max-width: 1300px) {
    .overlay-info h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .overlay-info,
    .contact-overlay-info {
        width: 77%;
    }
}

@media only screen and (max-width: 900px) {
    .overlay-info,
    .contact-overlay-info {
        width: 89%;
    }
    .our-project-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overlay-info h1 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) {
    .our-project-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .overlay-background {
        bottom: 0;
        top: unset;
        width: 100%;
        height: 50%;
    }

    .overlay-info, .contact-overlay-info {
        width: 100%;
        text-align: center;
    }

    .contact-overlay-info,
    .overlay-info {
        padding-right: 0;
    }

    .contact-overlay-background {
        width: 100%;
        height: 30%;
    }

    .how-to-contact {
        bottom: 0;
        top: unset;
        z-index: 2;
        width: 100%;
        height: 70%;
        padding: 0 15px;
    }

    .how-to-contact-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        width: fit-content;
        justify-content: center;
        margin: 0 auto;
    }

    .how-to-contact span {
        justify-content: center;
    }
}
