@font-face {
    font-family: cursive_header_font;
    src: url(../fonts/Rochester-Regular.ttf);
}
@font-face {
    font-family: regular_text_font;
    src: url(../fonts/BellGothicStd-Light.otf);
}
* {
    padding: 0;
    margin: 0;
}
button:focus {
    outline: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: regular_text_font;
    background-color: #f4f4f4;
}
main {
    height: 100%;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2vw;
}
li {
    list-style-type: none;
}
/* header */
nav {
    font-family: regular_text_font;
    background-color: #ffffff59;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}
nav.scroll {
    background-color: #8a7f74;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
nav li a:hover,
nav .menu_btn:hover {
    background-color: #f4f4f47a;
}
nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}
/* menu */
nav .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}
/* menu icon */
nav .menu_icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
nav .menu_icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 18px;
}

nav .menu_icon .navicon:before,
nav .menu_icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}
nav .menu_icon .navicon:before {
    top: 5px;
}
nav .menu_icon .navicon:after {
    top: -5px;
}
/* menu btn */
nav .menu_btn {
    display: none;
}
nav .menu_btn:checked ~ .menu {
    max-height: 240px;
}
nav .menu_btn:checked ~ .menu_icon .navicon {
    background: transparent;
}
nav .menu_btn:checked ~ .menu_icon .navicon:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
nav .menu_btn:checked ~ .menu_icon .navicon:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
nav .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:before,
nav .menu_btn:checked ~ .menu_icon:not(.steps) .navicon:after {
    top: 0;
}
/* 48em = 768px */
@media (min-width: 48em) {
    nav li {
        float: left;
    }
    nav li a {
        padding: 17px 2vw;
    }
    nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    nav .menu_icon {
        display: none;
    }
}
/*header*/


/*full screen image*/
header { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 17%;
    width: 100%;
    background-color: #6eaa00;
    background-image: url(../images/footer_fruit.png);
}
header h1 {
    color: #fff;
    font-size: 3.5vw;
    font-family: cursive_header_font;
    font-style: italic;
}
/*full screen image*/


/* distributor video*/

video {
    width: 100%;
    height: 51%;
}

/* distributor video*/



/*distributor article */
article {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#distributor_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#distributor_container img {
    height: 10vw;
    width: 10vw;
}
#distributor_container h1 {
    font-size: 3.5vw;
    color: #6daa02;
    font-family: cursive_header_font;
    font-style: italic;
    padding: 1vw;
}
#distributor_container p {
    font-size: 1.2vw;
    padding: 3vw;
    color: #8a7e73;
}
/*distributor article */







/*benefits section*/

#benefit_background {
    height: 60%;
    width: 100%;
    background-image: url(../images/distributor/background_benefits.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
#benefit_container {
    width: 60%;
    color: white;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5vw;
}
#benefit_container h1 {
    color: #6daa02;
    font-size: 3.5vw;
    font-family: cursive_header_font;
    font-style: italic;
}
/*benefits section*/



/*why choose us section*/
#why_choose {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    text-align: center;
}
#why_choose h1 {
    font-size: 3.5vw;
    color: #6daa02;
    font-family: cursive_header_font;
    font-style: italic;
    text-align: center;
}
#why_choose_container {
    display: grid;
    height: 80%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: auto auto auto;
}
.round_element {
    width: 6vw;
    height: 6vw;
    background: #6aaf08;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.round_element div {
    width: 5vw;
    height: 5vw;
    border: 1px dashed white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 3vw;
}
.element_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.element_box h2 {
    font-size: 1.4vw;
    padding: 1vw;
    color: #60574f;
}
/*why choose us section*/




/*footer*/

footer {
    height: 50%;
    background-color: #3c322b;
    background-image: url(../images/footer_fruit.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#footer_container {
    width: 60%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer_section_container {

}
.footer_section_container h2 {
    color: white;
    font-size: 2vw;
    font-family: cursive_header_font;
    font-style: italic;
}
.footer_section_container li {
    font-size: 1vw;
    color: #a7a7a7;
}
.footer_section_container p {
    font-size: 1vw;
    color: #a7a7a7;
}

/*footer*/


