* {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    outline: none;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: .9em;
}

h6 {
    font-size: .6em;
}

button {
    padding: .6em 2em;
    font-size: 1.1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
