@font-face {
    font-family: mainFont;
    src: url(../fonts/mainFont.ttf);
}
@font-face {
    font-family: contentFont;
    src: url(../fonts/contentFont.ttf);
}
@font-face {
    font-family: mainFontArm;
    src: url(../fonts/mainFontArm.ttf);
}
@font-face {
    font-family: contentFontArm;
    src: url(../fonts/contentFontArm.ttf);
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
main {
    background-color: #3b3a36;
    position: relative;
}
main .russian {
    font-family: contentFont;
}
main .armenian {
    font-style: italic;
    font-weight: 100;
    font-family: contentFontArm;
}

navbar {
    box-shadow: 0px 0px 12px #474748;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background: #fff;
    position: relative;
    z-index: 10;
    width: 100%;
}
main navbar .armenian {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    font-family: mainFontArm;
}
main navbar  .russian {
    font-family: mainFont;
}
navbar a {
    padding: 1% 0%;
    display: block;
    color: #546E7A;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3vw;
}
.menuLogo {
    margin-right: auto;
    order: 0;
}
.menuContext {
    padding: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContext:hover {
    border-bottom: 1px solid #78909c;
}
#logo {
    transition: 1s;
    max-width: 75%;
}
navbar .icon {
    display: none;
}


.allContentContainer {
    display: flex;
    justify-content: center;
}
.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #e0e0eb;
}
.contactContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contactSection {
    display: flex;
    width: 100%;
}
.contactBox {
    width: 34%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contactBox img {
    max-width: 30%;
    max-height: 30%;
}
.contactBox .icon {
    text-align: center;
    color: #37474f;
    color: #37474f;
    font-size: 3vw;
    width: 25%;
}
.contactBox > div {
    width: 90%;
    text-align: center;
}
.contactBox > div h1 {
    font-size: 1.5vw;
    color: #263238;
}
.contactBox > div h2 {
    font-size: 1vw;
    color: #37474F;
}

.mapContainer {
    box-shadow: -2px 0px 36px #455A64;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map {
    width: 100%;
    height: 80%;
    background: rgb(240, 240, 240);
}
.gm-style {
    height: 100%;
}
#map >  div {
    position: relative !important;
}
#map{
    width: 100%;
}

.doubleLine {
    margin: 0 auto;
    width: 70%;
    border-top: 2px solid #455A64;
}

footer {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
}
.cardImg {
    max-width: 6%;
    max-height: 25%;
    margin: 1vw 1vw 1vw 0;
}
.webIcons {
    color: #2f4048;
    max-width: 6%;
    max-height: 25%;
    margin: 1vw 1vw 1vw 0;
}
.footerContent {
    width: 60%;
}
.creditCards {
    display: flex;
    justify-content: center;
}
.footerContent .websiteIcons i {
    color: #2f4048;
}
.websiteIcons {
    display: flex;
    justify-content: center;
}
.copyright {
    color: #393939;
    font-size: .8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    navbar a:not(:first-child) {
        display: none;
    }
    navbar a.icon {
        user-select: none;
        font-size: 3vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
    navbar a.icon2 {
        user-select: none;
        font-size: 3vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 9%;
    }
    navbar.responsive {
        position: relative;
    }
    navbar.responsive .icon {
        font-size: 3vw;
        user-select: none;
        position: absolute;
        width: 2.5%;
        top: 9%;
        right: 0%;
    }
    navbar.responsive .icon2 {
        font-size: 3vw;
        user-select: none;
        position: absolute;
        width: 2.5%;
        top: 7%;
        right: 15%;
    }
    #menuLogo {
        display: flex;
        margin-right: auto;
        order: 0;
        width: 80%;
    }
    navbar.responsive a {
        font-size: 4vw;
        justify-content: flex-start;
        display: flex;
        text-align: left;
        width: 100%;
  }
    .contactBox .icon {
        font-size: 6vw;
    }
    #logo {
        height: 7%;
        max-width: 50%;
    }
    .contactBox > div h1 {
        font-size: 2vw;
    }
    .contactBox > div h2 {
        font-size: 1.5vw;
    }
    .contactBox img {
        max-width: 40%;
        max-height: 40%;
    }
    .map {
        zoom: .5;
    }
    .contactContainer {
        width: 55%;
    }
    .copyright {
        color: #393939;
        font-size: 1.2vw;
    }
    footer {
        height: 60px;
    }
}
.russian {
    display: none;
}
.buttonSeparator {
    display: inline-block;
    width: 1px;
    height: 1.6%;
    background-color: #455A64;
}
.languageButton {
    background-color: transparent;
    border: none;
    color: #78909C;
}