@font-face {
    font-family: mainFont;
    src: url(../fonts/mainFont.ttf);
}
@font-face {
    font-family: contentFont;
    src: url(../fonts/contentFont.ttf);
}
@font-face {
    font-family: mainFontArm;
    src: url(../fonts/mainFontArm.ttf);
}
@font-face {
    font-family: contentFontArm;
    src: url(../fonts/contentFontArm.ttf);
}
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
main {
    position: relative;
}
main .russian {
    font-family: contentFont;
}
main .armenian {
    font-style: italic;
    font-weight: 100;
    font-family: contentFontArm;
}

img:not(#logo) {
    box-shadow: 0px 0px 3px #3b3a36;
}
h1, h3 {
    color: #6D4C41;
}

navbar {
    box-shadow: 0px 0px 12px #474748;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    background: #fff;
    position: relative;
    z-index: 10;
    width: 100%;
}
main navbar .armenian {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    font-family: mainFontArm;
}
main navbar  .russian {
    font-family: mainFont;
}
navbar a {
    padding: 1% 0%;
    display: block;
    color: #546E7A;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3vw;
}
.menuLogo {
    margin-right: auto;
    order: 0;
}
.menuContext {
    padding: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContext:hover {
    border-bottom: 1px solid #78909c;
}
#logo {
    transition: 1s;
    max-width: 75%;
}
navbar .icon {
    display: none;
}

.aboutUsContent {
    display: inline-block;
    width: 100%;
    background-color: #f5f5fb;
}
.contentText {
    font-family: contentFont;
    padding: 2% 4% 2% 4%;
    font-size: 1.22vw;
    text-align: left;
}
.contentTextMini {
    font-family: contentFont;
    padding: 2% 4% 2% 4%;
    font-size: 1vw;
    text-align: justify;
}
.contentLogoImg {
    float: right;
    max-width: 15%;
    max-height: 35%;
    padding: 1% 1% 1% 4%;
}
.contentLogoImg > img {
    transition: all .8s ease-in-out;
    max-height: 100%;
    max-width: 100%;
}
.contentLogoImg > img:hover {
    transform: scale(1.1);
    
}
.contentGoldenMarkImg {
    float: left;
    max-height: 45%;
    padding: 1% 4% 1% 1%;
    max-width: 17%;
}
.contentGoldenMarkImg > img {
    transition: all .8s ease-in-out;
    max-height: 100%;
    max-width: 100%;
}
.contentGoldenMarkImg > img:hover {
   transform: scale(1.2);
}
.contentLeftIngridient {
    float: left;
    max-height: 45%;
    padding: 1% 4% 1% 1%;
    max-width: 17%;
}
.contentRightIngridient {
    float: right;
    max-height: 45%;
    padding: 1% 4% 1% 1%;
    max-width: 17%;
}
.contentLeftIngridient > img, .contentRightIngridient > img {
    transition: all .8s ease-in-out;
    max-height: 100%;
    max-width: 100%;
}
.contentLeftIngridient > img:hover, .contentRightIngridient > img:hover {
    transform: scale(1.2);
}

.doubleLine {    
    margin: 0 auto;
    width: 70%;
    border-top: 2px solid #455A64;
}

.caption {
    padding: 1%;
    font-size: 3vw;
    text-align: center;
}
 .littleCaption {
    padding: 1%;
    font-size: 2vw;
    text-align: center;
}
.coverPhoto {
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    max-width: 75%;
    max-height: 45%;
}
.coverPhoto > img {
    transition: all .8s ease-in-out;
    max-height: 100%;
    max-width: 100%;
}
.coverPhoto > img:hover {
    transform: scale(1.2);
}

.declarationRow {
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
}
.declarationRow  .column {
    padding: 1%;
    max-height: 40%;
    max-width: 12%;
}
.declarationRow  .column  img {
    max-height: 100%;
    max-width: 100%;
}

.popUp {
    z-index: 9999;
}
.modalShow {
    z-index: 9999;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    overflow: hidden;
}
.modalOverlay {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #212121d6;
    position: absolute;
    overflow: hidden;
}
.modalWrapper {
    position: absolute;
    width: 600px;
    height: 430px;
    margin-top: 3%;
}
.modalImgShow {
    position: absolute;
    width: 40vw;
    height: 90vh;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -5%;
}
.modalOpenedImg {
    user-select: none;
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.modalHeader {
    height: 27px;
    width: 100%;
    position: absolute;
}
.modalCloseButton {
    height: 23px;
    width: 23px;
	background-image: url("images/closee.png");
    background-size: cover;
    position: absolute;
    right: 3px;
    top: 2px;
    z-index: 99;
    cursor: pointer;
}

footer {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
}
.cardImg {
    max-width: 6%;
    max-height: 25%;
    margin: 1vw 1vw 1vw 0;
}
.webIcons {
    max-width: 6%;
    max-height: 25%;
    margin: 1vw 1vw 1vw 0;
}
.footerContent {
    width: 60%;
}
.creditCards {
    display: flex;
    justify-content: center;
}
.websiteIcons {
    color: #2f4048;
    display: flex;
    justify-content: center;
}
.copyright {
    color: #393939;
    font-size: .8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    navbar a:not(:first-child) {
        display: none;
    }
    navbar a.icon {
        user-select: none;
        font-size: 3vw;
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
    navbar.responsive {
        position: relative;
    }
    navbar.responsive .icon {
        font-size: 3vw;
        user-select: none;
        position: absolute;
        width: 2.5%;
        top: 9%;
        right: 0%;
    }
    #menuLogo {
        display: flex;
        margin-right: auto;
        order: 0;
        width: 80%;
    }
    navbar.responsive a {
        font-size: 4vw;
        justify-content: flex-start;
        display: flex;
        text-align: left;
        width: 100%;
  }
    #logo {
        height: 7%;
        max-width: 50%;
    }
    .copyright {
        color: #393939;
        font-size: 1.2vw;
    }
    footer {
        height: 60px;
    }
    .contentText {
        font-size: 3vw;
    }
    .caption {
        font-size: 5vw;
    }
    .littleCaption {
        font-size: 3vw;
    }
    .modalImgShow {
        width: 90vw;
        height: 50vh;
    }
}
.russian {
    display: none;
}
.buttonSeparator {
    display: inline-block;
    width: 1px;
    height: 1.6%;
    background-color: #455A64;
}
.languageButton {
    background-color: transparent;
    border: none;
    color: #78909C;
}